{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calc</title>
</head>

<body style="background-color: rgb(209, 202, 202);">
    <form method="POST">
        {% csrf_token %}
    <p>
        <label for="input_A">Число A</label>
        <input type="number" id='input_A'>
    </p>
    <p>
        <label for="input_B">Число Б</label>
        <input type="number" id='input_B'>
    </p>
    <p>Выберете операцию:</p>
    <button type="submit" id="add">+</button>
    
    <input type="submit" value="-" id='subtract'>
    <input type="submit" value="*" id='multiply'>
    <input type="submit" value="/" id='divide'>
</form>
    <p id="result">Результат:</p>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous">
        </script>
    <script src="{% static 'js/main.js' %}">
    </script>
</body>

</html>